In [6]:
from bs4 import BeautifulSoup 
from splinter import Browser
import requests
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# NASA MARS NEWS

In [7]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
recent = soup.find('div', class_='list_text')
news_title = recent.find('div', class_='content_title').text
news_p = recent.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

Why This Martian Full Moon Looks Like Candy
For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

# JPL MARS IMAGE

In [10]:
url_jpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_jpl)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
img_find = soup.find('footer')
img = img_find.find('a', class_='button fancybox')['data-fancybox-href']
img_url = "https://jpl.nasa.gov" + img
featured_image_url = img_url
print(featured_image_url)

https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA18791_ip.jpg

# MARS WEATHER

In [13]:
url_tweet = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_tweet)

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
tweet_box = soup.find('div', class_='js-tweet-text-container')
tweet = tweet_box.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
mars_weather = tweet
print(mars_weather)

InSight sol 162 (2019-05-12) low -100.2ºC (-148.3ºF) high -20.3ºC (-4.5ºF)
winds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (32.0 mph)
pressure at 7.50 hPapic.twitter.com/23uEPf5baF

# MARS FACTS

In [16]:
url_facts = 'https://space-facts.com/mars/'
browser.visit(url_facts)

In [17]:
import pandas as pd

In [18]:
mars_table = pd.read_html(url_facts)

In [19]:
mars_df = mars_table[0]
mars_df.columns = ['Mars', 'Data']
mars_df = mars_df.set_index('Mars')
mars_df

                                               Data
Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [20]:
mars_table_html = mars_df.to_html()
mars_table_html = mars_table_html.replace('\n', '')
mars_table_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Data</th>    </tr>    <tr>      <th>Mars</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# MARS HEMISPHERES

In [62]:
url_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemi)

In [63]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [70]:
hemisphere_image_urls = []

for h in range(4):
    browser.find_by_tag('h3')[h].click()   
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    title = soup.find('h2', class_='title').text
    img_url_partial = soup.find('img', class_='wide-image')['src']
    img_url = 'https://astrogeology.usgs.gov' + img_url_partial
    dict = {'title':title, 'img_url':img_url}
    hemisphere_image_urls.append(dict)
    browser.back()

In [69]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]